doctype html
html.ua_js_no
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Извините, произошла ошибка
    script.
      (function(e,c){e[c]=e[c].replace(/(ua_js_)no/g,"$1yes");})(document.documentElement,"className");
    //- link(rel='stylesheet', href='//cdn.mgbeta.ru/abp/_simple2.css')
    link(rel='stylesheet', href='styles/_simple2.css')
    meta(name='viewport', content='width=device-width; initial-scale=1.0')
    div
    div
  body.page.q-page.i-bem(data-bem='{"q-page":{}}')
    .page__root
      .abp-slide.abp-slide_type_main.abp-slide_100vh.abp-slide_bg.abp-slide_bg-overlay(style='background-image:url("http://www.sunhome.ru/UsersGallery/wallpapers/67/7190146.jpg");')
        .abp-slide__bg-overlay
          .abp-slide__middle
            .abp-slide__content
              .t2__row
                .t2__col.t2__col_mw_8.t2__col_xsw_12(style='color:white')
                    //- if !!data
                    //-   .abp-slide__title Спасибо, #{data.name}! Наши менеджеры свяжутся с Вами!
                    //- else  
                    .abp-slide__title Произошла ошибка! 
                    | если у вас возникли срочные вопросы - звоните по этому номеру, 
                    | или приезжайте по адресу!
                    | мы работаем круглосуточно!
                  .abp-slide__subtitle
                    | Королева 13
                    br
                    | +7 917 829 2237
                .t2__col.t2__col_mw_4.t2__col_xsw_0
                  img.image(role='img', src='http://www.abeacon.org/_assets/images/navlogo.png', style='max-width:100%')
    script(src='//cdn.mgbeta.ru/abp/_simple2.js')
    // Yandex.Metrika counter
    script(type='text/javascript').
      //- (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26302521 = new Ya.Metrika({ id:26302521, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        //- img(src='https://mc.yandex.ru/watch/26302521', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
