doctype html
html(lang='ru')
  head
        meta(charset='UTF-8')
        title Ломбард "Маяк" - здесь берут все!
        script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='scripts/script.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='styles/styles.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
        
        script(type='text/javascript').
          (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter38166225 = new Ya.Metrika({ id:38166225, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
        noscript
          div
            img(src='https://mc.yandex.ru/watch/38166225', style='position:absolute; left:-9999px;', alt='')

  body(data-spy='scroll', data-target='.navbar', data-offset='100')
        // <body data-spy="scroll" data-target=".navbar">
    header.bg
          #top.white
            .container-fluid.center
              div
                img(src='images/logo.jpg', alt='')
              .blue-font
                h3 Больше, чем ломбард
              div
                img(src='images/24open.jpg', alt='')
              .blue-font
                h4
                  a(href='tel:+79223446622')
                    i.fa.fa-mobile(aria-hidden='true')
                    |  +7 922 344 66 22
                p
                  i.fa.fa-home(aria-hidden='true')
                  |  ш.Космонавтов 51а
          .container
            br
            br
            .col-md-7.pearl
              
              .container-fluid
                h2.red-font Здесь берут все!
                hr
                h2.red-font Здесь не берут %!
                br
                .center2
                  .col-md-2.col-sm-2.col-xs-3
                    img(src='images/header/01-ring.jpg', alt='')
                  .col-md-2.col-sm-2.col-xs-3
                    img(src='images/header/02-phone.jpg', alt='')
                  .col-md-2.col-sm-2.col-xs-3
                    img(src='images/header/03-comp.jpg', alt='')
                  .col-md-2.col-sm-2.col-xs-3
                    img(src='images/header/04-tv.jpg', alt='')
                br
                .center2
                  .col-md-2.col-sm-2.col-xs-3
                    img(src='images/header/05-car.jpg', alt='')
                  .col-md-2.col-sm-2.col-xs-3
                    img(src='images/header/06-bike.jpg', alt='')
                  .col-md-2.col-sm-2.col-xs-3
                    img(src='images/header/07-drill.jpg', alt='')
                  .col-md-2.col-sm-2.col-xs-3
                    img(src='images/header/08-wash.jpg', alt='')
                    
                br
                br
              #ribbon-top 
              #ribbon-bott   
        #header.header.header--fixed.hide-from-print.headroom.headroom--not-top.headroom--not-bottom.headroom--pinned(role="banner")
        // NAVIGATION PANEL
        nav#nav.navbar.navbar-default(data-spy='affix', data-offset-top='550')
          // <nav class="navbar navbar-default" id="nav" data-spy="affix" >
          .center-nav
            // <div >
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Показать меню
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                // <img src="images/logo.jpg" alt="">
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                // <li class="active"><a href="#getmoney">Как получить деньги? <span class="sr-only">(current)</span></a></li>
                li
                  a(href='#getmoney') Как получить деньги?
                li
                  a(href='#bring') Что можно принести? 
                li
                  a(href='#features') Почему маяк?
                li
                  a(href='#buy') Хочу скидку
                li
                  a(href='#', data-toggle='modal', data-target='#vacancy') Вакансии
                li
                  a(href='#contacts') Контакты
            // /.navbar-collapse
          // /.container-fluid
        // NAVIGATION PANEL
        // <div class="container">
        
        
        #moneyCarousel.carousel.slide(data-ride='carousel')
          .carousel-inner(role='listbox')
            .item.active
              section#getmoney.container.fullht
                .container.center
                  h3.blue-font Как получить деньги?
                  div
                    img(src='images/6min.jpg', alt='')
                .row.center
                  .col-md-4.col-sm-4.col-xs-4.blue-font.icon-wrapper
                    img.icon(src='./images/moneyback/01-moneyback.jpg', alt='')
                    .description
                      p.marker 1.
                      p.small-text Взять имущество и документ удостоверяющий личность
                  .col-md-4.col-sm-4.col-xs-4.blue-font.icon-wrapper
                    img.icon(src='./images/moneyback/02-moneyback.jpg', alt='')
                    .description
                      p.marker 2.
                      p.small-text Придти в "Маяк" в любое время дня и ночи
                  .col-md-4.col-sm-4.col-xs-4.blue-font.icon-wrapper
                    img.icon(src='./images/moneyback/03-moneyback.jpg', alt='')
                    .description
                      p.marker 3.
                      span.small-text Согласовать необходимую сумму ("Маяк" любит предложить больше)
                      p
                .row.center
                  .col-md-6.col-sm-6.col-xs-6.blue-font.icon-wrapper
                    img.icon(src='./images/moneyback/04-moneyback.jpg', alt='')
                    .description
                      p.marker 4. 
                      p.small-text Заключить договор на удобных для себя условиях
                  .col-md-6.col-sm-6.col-xs-6.blue-font.icon-wrapper
                    img.icon(src='./images/moneyback/05-moneyback.jpg', alt='')
                    .description
                      p.marker 5. 
                      p.small-text получить деньги сию же минуту
              // END OF GETMONEY SECTION
            .item
              section#getmoney.container.fullht
                .container.center
                  h3.blue-font Как вернуть имущество?
                  div
                    img(src='images/0perc.jpg', alt='')
                .row.center
                  .col-md-3.col-sm-3.col-xs-3.blue-font.icon-wrapper
                    img.icon(src='./images/stuffback/01-stuffback.jpg', alt='')
                    .description
                      p.marker 1. 
                      p.small-text Взять документ удостоверяющий личность, взять договор
                  .col-md-3.col-sm-3.col-xs-3.blue-font.icon-wrapper
                    img.icon(src='./images/stuffback/02-stuffback.jpg', alt='')
                    .description
                      p.marker 2. 
                      p.small-text Придти в "Маяк" в любое время дня и ночи
                .row.center
                  .col-md-3.col-sm-3.col-xs-3.blue-font.icon-wrapper
                    img.icon(src='./images/stuffback/03-stuffback.jpg', alt='')
                    .description
                      p.marker 3. 
                      p.small-text Оплатить согласно договору
                  .col-md-3.col-sm-3.col-xs-3.blue-font.icon-wrapper
                    img.icon(src='./images/stuffback/04-stuffback.jpg', alt='')
                    .description
                      p.marker 4. 
                      p.small-text Получить свое имущество обратно в целости и сохранности
                h4.red-font
                  | Не переживайте! Если Вы не успеваете оплатить полностью взятую сумму в срок, то можно пролонгировать (продлить) договор, оплатив минимальную часть!
              // END OF IMUSCHETSTVO SECTION
          
          a.left.carousel-control(href='#moneyCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#moneyCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next    
      
      
        
        // </div>
        section#bring.fullht.gray
          .container.center
            h3.blue-font "Маяк" принимает все:
          #myCarousel.carousel.slide(data-ride='carousel')
            // Wrapper for slides
            .carousel-inner(role='listbox')
              .item.active
                .container.center
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item01' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/07-gold.png', alt='')
                      p Золотые изделия
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item01.collapse.hidden-text
                      | Принимаем золото в любом состоянии. Получите одну из самых высоких цен в городе на золото, приходите в МАЯК.
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item02' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/10-gold.png', alt='')
                      p Серебряные изделия
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item02.collapse.hidden-text
                      | Принимаем серебро в любом состоянии. Получите одну из самых высоких цен в городе на серебро, приходите в МАЯК.
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item03' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/03-carousel.jpg', alt='')
                      p Сотовые телефоны
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item03.collapse.hidden-text
                      | Принимаем исправные сотовые телефоны, которые не были в ремонте. Можно в коробке, можно и без. Полный комплект оценивается дороже.
          
              .item
                .container.center
                
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item04' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/04-tv.png', alt='')
                      p TV
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item04.collapse.hidden-text
                      | принимаем исправные плазменные, ЖК и обычные телевизоры. Не забудьте пульт, если надумаете привезти.
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item05' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/05-tablet.png', alt='')
                      p Планшеты
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item05.collapse.hidden-text
                      | принимаем исправные планшеты, которые не были в ремонте, можно в коробке, можно и без. полный комплект оценивается дороже.
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item06' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/06-play.png', alt='')
                      p Игровые приставки
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item06.collapse.hidden-text
                      | принимаем исправные ХBOX, PS 2,3,4 , PSP и многое другое. Полный комплект оценивается дороже.
                      
              .item
                .container.center
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item07' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/07-bike.png', alt='')
                      p велосипеды
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item07.collapse.hidden-text
                      | принимаем  исправные детские, взрослые, горные, городские и прочие велосипеды. 
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item09' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/08-moto.png', alt='')
                      p мотоциклы
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item09.collapse.hidden-text
                      | принимаем исправную мототехнику: скутеры, байки, квадроциклы и т.д.. С с документами, без арестов и обременений(мы проверим). 
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item10' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/09-car.png', alt='')
                      p Автомобили
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item10.collapse.hidden-text
                      | принимаем иномарки не старше 15 лет, и отечественное авто не старше 10 лет. Даём до 75% от рыночной цены. Льготный %. Официальный договор.
                      
              .item
                .container.center
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item11' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/10-drill.png', alt='')
                      p электроинструменты
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item11.collapse.hidden-text
                      | принимаем исправные дрели, перфораторы, шуруповерты, шлиф.машинки, отбойники, штроборезы и многое другое. 
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item12' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/11-pila.png', alt='')
                      p бензопилы
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item12.collapse.hidden-text
                      | принимаем исправные бензопилы, культиваторы, мотоблоки, бензогенераторы, мотокосы и многое другое.
                      
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item13' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/12-audio.png', alt='')
                      p аудиосистемы
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item13.collapse.hidden-text
                      | принимаем современные музыкальные центры, акустические системы, саундбары и многое другое. Не забудьте пульт
                      
              .item
                .container.center
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item14' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/13-holod.png', alt='')
                      p бытовая техника
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item14.collapse.hidden-text
                      | принимаем бытовую технику: холодильники, мултиварки, хлебопечки и многое другое.
                                            
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item15' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/14-stiralka.png', alt='')
                      p стиральные машины
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item15.collapse.hidden-text
                      | принимаем исправные, автоматические стиральные и посудомоечные машины.
                      
                      
                  .col-md-4.col-sm-4.col-xs-4.blue-font.slide-item-wrapper
                    div(data-toggle='collapse', data-target='#item16' style="cursor:pointer")
                      img.slide-item(src='./images/carousel/15-foto.png', alt='')
                      p фотоаппараты
                      i.fa.fa-angle-down.fa-2x(aria-hidden='true')
                    #item16.collapse.hidden-text
                      | принимаем исправные цифровые зеркальные и прочие фотоаппараты от 16мп, обязательно наличие зарядного устройства.                      
                      
            // Left and right controls
            a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                i.icon-angle-right
              // <i class="icon-angle-right"></i>
              span.sr-only Next
          //- .container.center
            
            
          .container
            .col-md-2
            .col-md-4.col-sm-12.col-xs-12
              button.fullwd.btn.btn-danger(data-toggle='modal', data-target='#moreMoney') Как получить больше денег?
            .col-md-4.col-sm-12.col-xs-12
              button.fullwd.btn.btn-default(data-toggle='modal', data-target='#expressVal') Получить экспресс оценку
            .col-md-2
            
            
            
        // TODO: mobile first
        section#features.container.fullht
          h2.red-font "Маяк" больше, чем ломбард
          h3.blue-font Только подумайте:
          .row.center
            .blue-font.col-md-3.col-sm-3.col-xs-3.feature-wrapper
              //- img.feature(src='./images/features/01-feature.jpg', alt='')
              img.feature(src='./images/100x100/01_king.png', alt='')
              p Уважительное отношение к клиенту
            .blue-font.col-md-3.col-sm-3.col-xs-3.feature-wrapper
              img.feature(src='./images/100x100/02_perc.png', alt='')
              p Переплата от 0%
            .blue-font.col-md-3.col-sm-3.col-xs-3.feature-wrapper
              img.feature(src='./images/100x100/03_infin.png', alt='')
              p Пролонгируйте сколько угодно
            .blue-font.col-md-3.col-sm-3.col-xs-3.feature-wrapper
              img.feature(src='./images/100x100/04_reverse.png', alt='')
              p Нет выходных, нет перерывов
          .row.center
            .blue-font.col-md-3.col-sm-3.col-xs-3.feature-wrapper
              img.feature(src='./images/100x100/05_bread.png', alt='')
              p Приносите что угодно, мы оченим и примем
            .blue-font.col-md-3.col-sm-3.col-xs-3.feature-wrapper
              img.feature(src='./images/100x100/06_docs.png', alt='')
              p Оформляем по любому из документов
            .blue-font.col-md-3.col-sm-3.col-xs-3.feature-wrapper
              img.feature(src='./images/100x100/07_rub.png', alt='')
              p Деньги в любую минуту
        section#buy.fullht.gray
          // <div class="gray" >
          .container
            h3.blue-font Не любите переплачивать?
            h3.blue-font Покупайте в "Маяке"!
          #buyHere.carousel.slide(data-ride='carousel')
            // Wrapper for slides
            .carousel-inner(role='listbox')
              .item.active
                .container.center
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/01-carousel2.jpg', alt='')
                    // сотовые телефоны
                    p.blue-font сотовые телефоны
                    p.blue-font от 300 руб
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/02-carousel2.jpg', alt='')
                    // смартфоны
                    p.blue-font смартфоны от
                    p.blue-font 1000 руб
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/03-carousel2.jpg', alt='')
                    // ноутбуки
                    p.blue-font ноутбуки от
                    p.blue-font 7000 руб
              .item
                .container.center
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/04-holod.png', alt='')
                    // сотовые телефоны
                    p.blue-font холодильники от
                    p.blue-font 4000 руб.
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/05-pc.png', alt='')
                    // смартфоны
                    p.blue-font компьютеры от
                    p.blue-font 5000 руб
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/06-netbook.png', alt='')
                    // ноутбуки
                    p.blue-font нетбуки от
                    p.blue-font 4000 руб
              .item
                .container.center
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/07-gold.png', alt='')
                    // сотовые телефоны
                    p.blue-font Золотые изделия от
                    p.blue-font 1400 руб
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/08-music.png', alt='')
                    // смартфоны
                    p.blue-font сабвуферы от
                    p.blue-font 1500 руб
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/09-wash.png', alt='')
                    // ноутбуки
                    p.blue-font стиральные машины
                    p.blue-font от 3000 руб
              .item
                .container.center
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/10-gold.png', alt='')
                    // сотовые телефоны
                    p.blue-font серебряные изделия
                    p.blue-font от 80 руб
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/02-carousel2.jpg', alt='')
                    // смартфоны
                    p.blue-font смартфоны
                    p.blue-font от 1000 руб
                  .col-md-3.col-sm-3
                    img(src='./images/carousel2/03-carousel2.jpg', alt='')
                    // ноутбуки
                    p.blue-font ноутбуки от
                    p.blue-font 7000 руб
            // Left and right controls
            a.left.carousel-control(href='#buyHere', role='button', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
              span.sr-only Назад
            a.right.carousel-control(href='#buyHere', role='button', data-slide='next')
              span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                i.icon-angle-right
              // <i class="icon-angle-right"></i>
              span.sr-only Вперед
          .container
            .col-md-2
            .col-md-4.col-sm-12.col-xs-12
              button.fullwd.btn.btn-default уточнить наличие товара
            .col-md-4.col-sm-12.col-xs-12
              button.fullwd.btn.btn-danger(data-toggle='modal', data-target='#discount') получить скидку
            .col-md-2
        // <div class="container center">
        // </div>
        // </div>
        #contacts.stretch
          .halfwd
            a(target="blank", href="https://yandex.ru/maps/50/perm/?source=serp_navig&text=%D1%88%D0%BE%D1%81%D1%81%D0%B5%20%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D0%BD%D0%B0%D0%B2%D1%82%D0%BE%D0%B2%2051%D0%B0&sll=56.223370%2C57.996916&sspn=0.039096%2C0.012715&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D56.223%252C57.997%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259F%25D0%25B5%25D1%2580%25D0%25BC%25D1%258C%252C%2520%25D1%2588%25D0%25BE%25D1%2581%25D1%2581%25D0%25B5%2520%25D0%259A%25D0%25BE%25D1%2581%25D0%25BC%25D0%25BE%25D0%25BD%25D0%25B0%25D0%25B2%25D1%2582%25D0%25BE%25D0%25B2%252C%252051%25D0%2590&ll=56.222775%2C57.996996&z=17")
              img.map(src='images/map.png', alt='')
          .halfwd
            img.map(src='images/transport.png', alt='')
        footer.blue
          // <div class="container center">
          .center
            img(src='images/footer.png', alt='')
            
            
            
        // modal    
        #moreMoney.modal.fade(role='dialog')
          .modal-dialog
            // Modal content
            .modal-content.gray
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Как получить больше денег
              .modal-body
                ul
                   li Протереть товар и подготовить его к сдаче. Никто не оценит дорого грязный и неопрятный товар.
                   li Проверить комплектность, наличие всех шнуров, пультов, кабелей, заряд.устройств и т.д., чтобы технику можно было быстро включить. и проверить.
                   li Убедиться в исправности техники, самому проверить ее работоспособность. Иначе зря приедете. Неисправное мы не берем.
                   li Если есть, взять чеки, коробку, документы на товар, т.к. наличие документов влияет на оценку в большую сторону.
                   li Взять собственный документ удостоверяющий личность и хорошее настроение. Вежливым людям предлагаем больше денег.
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Спасибо!
            
        // Modal
        #expressVal.modal.fade(role='dialog')
          .modal-dialog
            // Modal content
            .modal-content.gray
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title.blue-font Заполните форму для получения 
                h4.modal-title.blue-font экспресс оценки 
              .modal-body
                // <form class="form-inline">
                //- form(action='http://lombard.abpage.ru', method='post')
                //- form(action='/', method='post', name="form1")
                form(method='post', enctype="multipart/form-data", action='http://lombard.abpage.ru', name="value")
                  .form-group.row
                    label.col-sm-6.form-control-label(for='name')
                      img.form-icon(src='images/modal/name.png', alt='')
                      p.blue-font.form-label Как к Вам обращаться?
                    .col-sm-6
                      input#name.form-control(type='text', name='name', placeholder='Василий Иванович')
                  .form-group.row
                    label.col-sm-6.form-control-label(for='phone')
                      img.form-icon(src='images/modal/phone.png', alt='')
                      p.blue-font.form-label Куда Вам позвонить?
                    .col-sm-6
                      input#phone.form-control(type='phone', name='phone', placeholder='8-897-654-32-10')
                  .form-group.row
                    label.col-sm-6.form-control-label(for='what')
                      img.form-icon(src='images/modal/box.png', alt='')
                      p.blue-font.form-label Что будем оценивать?
                    .col-sm-6
                      input#what.form-control(type='text', name='what', placeholder='Цепочку')
                  .form-group.row
                    label.col-sm-6.form-control-label(for='howmuch')
                      img.form-icon(src='images/modal/money.png', alt='')
                      p.blue-font.form-label Сколько хотите денег?
                    .col-sm-6
                      input#howmuch.form-control(type='text', name='howmuch', placeholder='3000')
                  .form-group.row
                    label.col-sm-6.form-control-label(for='image')
                      img.form-icon(src='images/modal/file.png', alt='')
                      p.blue-font.form-label Прикрепить
                    .col-sm-6
                      //- input#imageUpload.form-control(type='file', name='image', placeholder='фото', onchange="myFunction()")
                      input#imageUpload.form-control.fileinput.fileinput-new(type='file', name='image', placeholder='фото', onchange="myFunction()")
                  .center2
                    // <button type="submit" class="btn btn-danger" data-dismiss="modal">Отправить данные</button>
                    button.btn.btn-danger(type='submit') Отправить данные
              

                // Modal
        #vacancy.modal.fade(role='dialog')
                .modal-dialog
                    // Modal content
                    .modal-content.gray
                      .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title.blue-font Хотите работать у нас? 
                        h4.modal-title.blue-font Заполните форму 
                        
                      .modal-body
                        form(method='post', action='http://lombard.abpage.ru', name="vacancy")
                          .form-group.row
                            label.col-sm-6.form-control-label(for='name')
                              img.form-icon(src='images/modal/name.png', alt='')
                              p.blue-font.form-label Как к Вам обращаться?
                            .col-sm-6
                              input#name.form-control(type='text', name='name', placeholder='Василий Иванович')
                          .form-group.row
                            label.col-sm-6.form-control-label(for='phone')
                              img.form-icon(src='images/modal/phone.png', alt='')
                              p.blue-font.form-label Куда Вам позвонить?
                            .col-sm-6
                              input#phone.form-control(type='phone', name='phone', placeholder='8-897-654-32-10')

                          .center2
                            button.btn.btn-danger(type='submit') Отправить данные
        
        
        #discount.modal.fade(role='dialog')
                .modal-dialog
                    // Modal content
                    .modal-content.gray
                      .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title.blue-font Хотите получить скидку? 
                                                
                      .modal-body
                        img.img-responsive(src="/images/discount.png")
  
