@font-face {
    font-family: Helvetica; /* Имя шрифта */
    src: url(../fonts/UniSansHeavyCaps.otf); /* Путь к файлу со шрифтом */
   }

@font-face {
   font-family: HelveticaNeue; /* Имя шрифта */
   src: url(../fonts/HelveticaNeue.TTF); /* Путь к файлу со шрифтом */
}

body, h1, h2, h3, h4 {
  font-family:  Helvetica;
  text-transform: uppercase;
  font-weight: bold;
}

img {
  width: 100%;
  min-width: 50px;
  object-fit: cover;
}

.slide-item-wrapper {
  width: 250px;
  height: 300px;
  /*height: 250px;*/
  /*overflow: visible;*/
}

.slide-item {
  max-width: 100%;
  height: 160px;
}


.hidden-text {
  font-family: HelveticaNeue;
  font-weight: 200;
  font-size: .8em;
}

#top {
  padding: 10px;
}

.icon {
  width: 10em;
  margin-bottom: 1.2em;
}

.icon-wrapper {
  max-width: 300px;
}

.feature {
  width: 8em;
  margin-bottom: 1.2em;

  background: #1c4467;
  border-radius: 10px;
  padding:5px;
  cursor: pointer;
}

.feature:hover {
  background: #d45455;
}

.feature-wrapper {
  max-width: 200px;
}

.marker {
  float: left;
  padding-right: 5px;
  font-size: 2em;
  height: 2em;
}

.small-text {
  font-size: 1em;
  text-align: left;
  display: block;
  float: none;
}

.map {
  min-width: 100%;
}


header {
  /*min-height: 90vh;
  height: auto;*/
  margin: 0;
  padding: 0;
  /*padding-bottom: 40px;*/

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 550px;
  height: 90vh;
  /*justify-content: space-between;*/
}

.bg {
  /*background-image: url(../images/bg.jpg);*/
  background-image: url(../images/bg0.jpg);
  background-position: fixed;
  background-size: cover;
}




.white {
  background: white;
  /*height: 70px;*/
  /*line-height: 70px;*/
}

.pearl {
  background: #F3F3F3;
  position: relative;
  /*background-image: url(../images/ribbon.png);
  background-repeat: no-repeat;
  background-size: cover;*/
}


#ribbon-top {
  background-image: url(../images/ribbon-tr.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -12px;
  right: -11px;
  height: 90px;
  width: 90px;
}

#ribbon-bott{
  background-image: url(../images/ribbon-bl.png);
    background-repeat: no-repeat;
  position: absolute;
  bottom: -9px;
  left: -11px;
  height: 90px;
  width: 90px;
}

.gray {
  background: #F3F1F2
}
.blue {
  background: #174567;
}

.red-font {
  text-align: center;
  color: #D45455;
}

.blue-font {
  text-align: center;
  color: #174567;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fullht {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 550px;
  height: 95vh;

  align-items: stretch;
  align-content: stretch;
  justify-content: space-around;
}

.fullwd {
    width: 100%;
    display: inline-block;
}

.stretch {
  display: flex;
}

.halfwd {
  width: 50%;
}

.navbar {
  font-size: .8em;

}

.navbar-nav {
     margin: 0;
}

.navbar-default .navbar-nav>li>a {
      color:  #174567;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover  {
  background-color: #174567;
  color: white;
}



.navbar-nav>li>a {
  line-height: 35px;
}


@media (min-width: 768px) {
  .center-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 768px) {

  .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
      /*float: none;*/
  }

  .fullwd {
    display: block;
  }

  .stretch {
    flex-direction: column;
  }

  .halfwd {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .feature {
    width: 58px;
  }
  .icon {
    width: 58px;
  }
}


.btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-primary,
.btn-default:hover {
  background-color: #174567;
  color: white;
}

.btn-danger {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.modal-content {
  border-radius: 2px;
}

.form-control {
  border-radius: 2px;
  height: 50px;
}


.carousel-control.right,
.carousel-control.left {
  background-image: none;
  background-color: none;
  color: gray;
  vertical-align: center;
}

.form-icon {
    max-width: 3.5em;
    max-height: 3.5em;
    float: left;
}

.form-label {
  line-height: 3.5em;
  font-size: 1.1em;
}

body {
     position: relative;
 }
 .affix {
     top:0;
     width: 100%;
     z-index: 99 !important;
 }
 .navbar {
     margin-bottom: 0px;
 }

 .affix ~ .container-fluid {
    position: relative;
    top: 50px;
 }


/*
  HEADROOM
*/

/*.headroom--pinned {
    transform: translateY(0);
}
.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform;
}
.header--fixed {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}
.header {
    background-color: #292f36;
}

#header {
  display: block;
}

.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}*/
